@import "~ngx-toastr/toastr";

@font-face {
    font-family: 'MoonHouse';
    src: url('~/assets/fonts/moonhouse.eot');
    src: url('~/assets/fonts/moonhouse.eot?#iefix') format('embedded-opentype'),
         url('~/assets/fonts/moonhouse.ttf') format('truetype');
}

@-webkit-keyframes trans1{ 
  from { 
    transform : translate3d(53px,0,0);
  }
  to { 

    transform : translate3d(-250px,0,0);
  }
}
@-moz-keyframes trans1{ 
  from { 
    transform : translate3d(53px,0,0);
  }
  to { 
    transform : translate3d(-250px,0,0);
  }
}
@keyframes trans1{ 
  from { 
    transform : translate3d(53px,0,0);
  }
  to { 
    transform : translate3d(-250px,0,0);
  }
}

@-webkit-keyframes trans2{ 
  from { 
    transform : translate3d(-160px,0,0);
  }
  to { 
    transform : translate3d(53px,0,0);
  }
}
@-moz-keyframes trans2{ 
  from { 
    transform : translate3d(-160px,0,0);
  }
  to { 
    transform : translate3d(53px,0,0);
  }
}
@keyframes trans2{ 
  from { 
    transform : translate3d(-160px,0,0);
  }
  to { 
    transform : translate3d(53px,0,0);
  }
}

@-webkit-keyframes trans3{ 
  from { 
    transform : translate3d(53px,0,0);
  }
  to { 
    transform : translate3d(-220px,0,0);
  }
}
@-moz-keyframes trans3{ 
  from { 
    transform : translate3d(53px,0,0);
  }
  to { 
    transform : translate3d(-220px,0,0);
  }
}
@keyframes trans3{ 
  from { 
    transform : translate3d(53px,0,0);
  }
  to { 
    transform : translate3d(-220px,0,0);
  }
}

.loader-outer {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: #fff;
    visibility: hidden;
    opacity: 1;
    -webkit-transition: visibility 0.5s, opacity 0.3s linear;
    -moz-transition: visibility 0.5s, opacity 0.3s linear;
    transition: visibility 0.5s, opacity 0.3s linear;
    &.hide{
        visibility: hidden;
        opacity: 0; 
    }
    .loader-container {
        height:100%;
        width:100%;
        display:table;
        .loader-inner {
            vertical-align:middle;
            height:100%;
            display:table-cell;
            .loader{
                width:100px;
                margin:auto;
                position:relative;
                height:60px;
                .mask{
                    position:absolute;  
                    overflow:hidden;
                    -webkit-border-radius: 5px; 
                    -moz-border-radius: 5px;
                    border-radius: 5px;
                    .plane{
                        background:#DD1B16;
                        width:400%;
                        height:100%;
                        position:absolute;
                    } 
                }
                #top{
                    width:53px;
                    height:15px;
                    left:20px;
                    -webkit-transform: skew(-15deg, 0);
                    -moz-transform: skew(-15deg, 0);
                    transform: skew(-15deg, 0); 
                    .plane{
                        -webkit-animation : trans1 1.3s ease-in infinite  0s backwards;
                        -moz-animation : trans1 1.3s ease-in infinite  0s backwards;
                        animation : trans1 1.3s ease-in infinite  0s backwards;
                    }
                }
                #middle{
                    width:33px;
                    height:15px;
                    left:20px;
                    top:15px; 
                    -webkit-transform: skew(-15deg, 40deg);
                    -moz-transform: skew(-15deg, 40deg); 
                    transform: skew(-15deg, 40deg);
                    .plane{
                        transform : translate3d(0px,0,0);  
                        background : #DD1B16;
                        -webkit-animation : trans2 1.3s linear infinite  0.3s  backwards;
                        -moz-animation : trans2 1.3s linear infinite  0.3s  backwards;
                        animation : trans2 1.3s linear infinite  0.3s  backwards;
                    }
                }
                #bottom{
                    width:53px;
                    height:15px;
                    top:30px;  
                    -webkit-transform: skew(-15deg, 0);
                    -moz-transform: skew(-15deg, 0);
                    transform: skew(-15deg, 0);
                    .plane{
                        -webkit-animation : trans3 1.3s ease-out infinite  0.7s backwards;
                        -moz-animation : trans3 1.3s ease-out infinite  0.7s backwards;
                        animation : trans3 1.3s ease-out infinite  0.7s backwards;
                    }
                }
                p.loader-text{
                    color:#000;
                    position:absolute;
                    top:42px;
                    font-family: 'MoonHouse';
                    font-size:16px;
                    span{
                        color: #DD1B16;
                    }
                }
            }      
        }           
    }
}


::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
    background: #e1e1e1;
    border: 0px none #ffffff;
    border-radius: 0px;
    &:hover{
        background: #cccccc;
    }
    &:active{
        background: #888888; 
    }
}
::-webkit-scrollbar-track {
    background: #666666;
    border: 0px none #ffffff;
    border-radius: 0px;
    &:hover{
        background: #666666;
    }
    &:active{
        background: #333333; 
    }
}
::-webkit-scrollbar-corner {
  background: transparent;
}
.dropdown-menu{
  background: rgb(211, 211, 211);
  border-radius: 6px;
  margin: 5px 0 0 0;
  padding: 0;
}
.spinner {
  margin: 100px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;
  
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
input.uppercase {
  text-transform: uppercase;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

/* You can add global styles to this file, and also import other style files */
.modal{
  overflow-y:scroll;
}
.modal-lg{
  max-width: 1000px;
}
.modal-sm{
  max-width: 800px;
}
  @media only screen and (max-width: 1400px){
    .scroll {
        overflow: scroll
    }
}
@media only screen and (max-width: 760px), (min-device-width: 300px) and (max-device-width: 760px) {
  /* Force table to not be like tables anymore */
  table, thead, tbody, th, td, tr {
    display: block;
  }
  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  .table>tbody>tr>td {
    padding: 15px 80px;
    line-height: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
  }
  .btn-group.btndropdown {
    position: initial;
  }
  .table>tbody>tr>td:first-child {
    text-align: left;
  }


  tr {
    border: 1px solid #ccc;
  }
  td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }
  td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }
  /*
      Label the data
      */
  .erp {
    td:nth-of-type(1):before {
      content: "Seç";
    }
    td:nth-of-type(2):before {
      content: "SeriNo";
    }
    td:nth-of-type(3):before {
      content: "M.Adı/Ünvanı";
    }
    td:nth-of-type(4):before {
      content: "Fatura Tipi";
    }
    td:nth-of-type(5):before {
      content: "Fatura Tutarı";
    }
    td:nth-of-type(6):before {
      content: "Para Birimi";
    }
    td:nth-of-type(7):before {
      content: "";
    }
  }
  .efatura {
    td:nth-of-type(1):before {
      content: "SeriNo";
    }
    td:nth-of-type(2):before {
      content: "Senaryo";
    }
    td:nth-of-type(3):before {
      content: "Fatura Tipi";
    }
    td:nth-of-type(4):before {
      content: "VKN";
    }
    td:nth-of-type(5):before {
      content: "Ünvan";
    }
    td:nth-of-type(6):before {
      content: "Fatura Tutarı";
    }
    td:nth-of-type(7):before {
      content: "Para Birimi";
    }
    td:nth-of-type(8):before {
      content: "Durum";
    }
    td:nth-of-type(9):before {
      content: "Tarih";
    }
  }
}
@media only screen and (min-width: 768px) {
  #appellation {
      max-width: 100px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
  }
  
  #appellation:active{
      overflow: visible;
      white-space: normal;
      width: auto;
      position: absolute;
      background-color: rgb(179, 174, 174);
  }
  #appellation:active+div {
      margin-top:20px;
  }
  // #credit{
  //   width: 100px;
  // }
  // #discount{
  //   width: 100px;
  // }
  }