<div class="auth-main">
  <div class="auth-block">
    <h1 translate>{{'validate.title'}}</h1>

    <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" class="form-horizontal">
        <div class="form-group row" [ngClass]="{'has-error': (!password.valid && password.touched), 'has-success': (password.valid && password.touched)}">
            <label for="inputPassword3" class="col-sm-2 control-label" translate="">{{'validate.password'}}</label>
    
            <div class="col-sm-10" translate>
              <input [formControl]="password" type="password" class="form-control" id="inputPassword3" placeholder="{{'validate.password' | translate}}">
            </div>
          </div>
          <div class="form-group row" [ngClass]="{'has-error': (!repeatPassword.valid && repeatPassword.touched), 'has-success': (repeatPassword.valid && repeatPassword.touched)}">
            <label for="inputPassword4" class="col-sm-2 control-label" translate>{{'validate.passwordrepeat'}}</label>
    
            <div class="col-sm-10">
              <input [formControl]="repeatPassword" type="password" class="form-control" id="inputPassword4" placeholder="{{'validate.passwordrepeat' | translate}}">
              <span *ngIf="!passwords.valid && (password.touched || repeatPassword.touched)" class="help-block sub-little-text" translate>{{'validate.passwordnotmatch'}}</span>
            </div>
          </div>
      <div class="form-group row" *ngIf="success">
          <div class="offset-sm-1 col-sm-10">
            <label class="successmessage">{{success}}</label>
          </div>
      </div>
      <div class="form-group row" *ngIf="error">
        <div class="offset-sm-1 col-sm-10">
          <label class="errormessage">{{error}}</label>
        </div>
      </div>
      <div class="form-group row">
        <div class="offset-sm-2 col-sm-10">
          <button [disabled]="!form.valid" type="submit" class="btn btn-default btn-auth" translate>{{'validate.submit_button'}}</button>
        </div>
      </div>
    </form>
  </div>
</div>
