<div class="widgets">
  
    <div class="row">
        <ba-card title="Adres Arama" baCardClass="with-scroll" class="data-table-container">
            <div class="row">
                <div id="search-button" class="col-sm-4" title="Yenile">
                        <button class="btn btn-success" (click)="search()"><i class="fa fa-refresh"></i></button>
                </div>
                <div *ngIf="user.tenantUsers.userRole.customer=='a' || user.tenantUsers.userRole.customer=='w'" title="Yeni Adres" id="search-button" class="col-md-4 offset-md-4" style="text-align:right;">
                        <button class="btn btn-info" (click)="addCustomer()">Yeni Adres</button>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" title="Adres Bilgileri">Adres Bilgileri</div>

                <table class="table table-striped" >
                    <thead>
                        <tr>
                            <th title="Adres Adı">Adres Adı</th>
                            <th title="Email">Email</th>
                            <th title="Telefon">Telefon</th>
                            <th title="Fax">Fax</th>
                            <th title="Tam Adres">Tam Adres</th>
                            <th title="İl">İl</th>
                            <th title="İlçe">İlçe</th>
                            <th title="Mahalle">Mahalle</th>
                            <th title="Posta Kodu">Posta Kodu</th>
                            <th title="Varsayılan">Varsayılan</th>
                            <th title="Düzenle" class="align-right">Düzenle</th>

                            <!-- <th>İzin Derecesi</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of addresses; let ind=index">
                            <td title="{{item.addressName}}">{{item.addressName}}</td>
                            <td title="{{item.email}}">{{item.email}}</td>
                            <td title="{{item.phoneNumber}}">{{item.phoneNumber}}</td>
                            <td title="{{item.fax}}">{{item.fax}}</td>
                            <td title="{{item.fullAddress}}">{{item.fullAddress}}</td>
                            <td title="{{item.city.name}}">{{item.city.name}}</td>
                            <td title="{{item.district.name}}">{{item.district.name}}</td>
                            <td title="{{item.neighborhood.name}}">{{item.neighborhood.name}}</td>
                            <td title="{{item.neighborhood.postCode}}">{{item.neighborhood.postCode}}</td>
                            <td title="Evet" *ngIf="item.isDefaultAddress">Evet</td>
                            <td title="Hayır" *ngIf="!item.isDefaultAddress">Hayır</td>
                            <td title="" class="align-right">
                                <button title="Düzenle" *ngIf="user.tenantUsers.userRole.customer=='a' || user.tenantUsers.userRole.customer=='w'" (click)="updateCustomer(ind)" class="btn btn-primary">
                                    <i class="ion-edit"></i></button>
                            </td>
                            <!-- <td>{{item.permissions}}</td> -->
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="11">
                                
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </ba-card>
    </div>
</div>