<div class="widgets">
    <switch *ngIf="user.tenantUsers.tenant.tenantInfo.isEfaturaUser" [status]="isEfatura === 'ERP'" onText="ERP" offText="Efatura" onColor="blue"
        offColor="green" size="large" (click)="changeisEfatura()"></switch>
    <div class="row" *ngIf="isEfatura==='ERP'">
        <div title="Fatura Arama" class="card data-table-container">
            <div class="row">

            </div>
            <div class="row">
                <div class="col-md-2" title="Müşteri Adı">
                    <label class="label-control">MüşteriAdı</label>
                    <input class="form-control input-sm" [(ngModel)]="searchCustomer" (keyup.enter)="search()" type="text" placeholder="Müşteri Adı"
                    />
                </div>
                <div class="col-md-1" title="Satır Sayısı">
                    <label class="label-control">SatırSayısı</label>
                    <input class="form-control input-sm" [(ngModel)]="limit" (keyup.enter)="search()" type="number" min="0" max="200" step="20"
                    />
                </div>
                <div class="col-md-1" title="Sayfa">
                    <label class="label-control">Sayfa</label>
                    <input class="form-control input-sm" [(ngModel)]="offset" (keyup.enter)="search()" type="number" min="0" step="20" />
                </div>
                <div class="col-md-2" title="Ölçütler">
                    <label class="col-sm-12 label-control">Ölçütler</label>
                    <select class="form-control input-sm" (change)="search()" [(ngModel)]="orderSelect">
                        <option ngValue="c.name">Müşteri Adı</option>
                        <option ngValue="iv.created_at">Fatura Tarihi</option>
                        <option ngValue="iv.confirmed">Aktif/Pasif</option>
                        <option ngValue="iv.price_total">Fatura Tutarı</option>
                    </select>
                </div>
                <div class="col-md-2" title="Sıralama">
                    <label class="col-sm-12 label-control">Sıralama</label>
                    <select class="form-control input-sm" (change)="search()" [(ngModel)]="orderBy">
                        <option ngValue="asc">Artan</option>
                        <option ngValue="desc">Azalan</option>
                    </select>
                </div>
                <div class="col-md-2" title="İlk Tarih">
                    <label class="col-sm-12 label-control">İlk</label>

                    <my-date-picker name="mydate1" [options]="myDatePickerOptions" [selector]="dateSelector1" (click)="openCalendar1()" (dateChanged)="onDateChanged($event)"
                        [(ngModel)]="searchFirstDate" required></my-date-picker>
                </div>
                <div class="col-md-2" title="Son Tarih">
                    <label class="col-sm-12 label-control">Son</label>

                    <my-date-picker name="mydate2" [options]="myDatePickerOptions" [selector]="dateSelector2" (click)="openCalendar2()" (dateChanged)="onDateChanged($event)"
                        [(ngModel)]="searchLastDate" required></my-date-picker>
                </div>

            </div>
            <div class="row">
                <div id="search-button" class="col-sm-4" title="Ara">
                    <button class="btn btn-success" (click)="search()">
                        <i class="fa fa-refresh"></i> Ara</button>
                </div>
                <div title="" *ngIf="user.tenantUsers.userRole.invoice=='a' || user.tenantUsers.userRole.invoice=='w'" id="search-button"
                    class="col-md-4 offset-md-4" style="text-align:right;">
                    <div title="Çoklu İşlem" class="btn-group">
                        <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle" type="button">
                            <i class="ion-gear-b"></i>Çoklu İşlem</button>
                        <ul class="dropdown-menu">
                            <li class="dropdown-header">
                                <b>Seçili olanları</b>
                            </li>
                            <li class="dropdown-item">
                                <a (click)="downloadPdf('liste')">
                                    <i class="ion-android-download"></i>İndir</a>
                            </li>
                            <li class="dropdown-item">
                                <a (click)="emailSelecteds('liste')">
                                    <i class="ion-email"></i>Mail Gönder</a>
                            </li>
                            <li class="dropdown-item">
                                <a (click)="deleteSelecteds('liste')">
                                    <i class="ion-trash-a"></i>İptal Et</a>
                            </li>
                        </ul>
                    </div>
                    <button title="Yeni Fatura" class="btn btn-info" (click)="addCustomer()">Yeni Fatura</button>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" title="Fatura Bilgileri">Fatura Bilgileri</div>

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th title="Seç" style="text-align:center;"><input type="checkbox" [checked]="isAllChecked(invoices)" (change)="selectAll(invoices)"/></th>
                            <th title="SeriNo">SeriNo</th>
                            <th title="M.Adı/Ünvanı">M.Adı/Ünvanı</th>
                            <th title="Fatura Tipi">Fatura Tipi</th>
                            <th title="Fatura Tutarı">Fatura Tutarı</th>
                            <th title="Para Birimi">Para Birimi</th>
                            <th title="Tarih">Tarih</th>                            
                            <th title="İşlemler" class="align-right">İşlemler</th>

                            <!-- <th>İzin Derecesi</th> -->
                        </tr>
                    </thead>
                    <tbody class="erp">
                        <tr *ngFor="let item of invoices; let ind=index">
                            <td title="Seç">
                                <input class="form-control" type="checkbox" [(ngModel)]="invoices[ind].isChecked" />
                            </td>
                            <td title="{{item.sn1}}{{item.sn2}}{{item.sn3}}">{{item.sn1}}{{item.sn2}}{{item.sn3}}</td>
                            <td title="{{item.customer.name}} {{item.customer.surname}}" *ngIf="!item.customer.appellation" class="long-text">{{item.customer.name}} {{item.customer.surname}}</td>
                            <td title="{{item.customer.appellation}}" *ngIf="item.customer.appellation" class="long-text">{{item.customer.appellation}}</td>
                            <td title="{{item.invoiceType.description}}">{{item.invoiceType.description}}</td>
                            <td title="{{item.priceTotal}}">{{item.priceTotal}}</td>
                            <td title="{{item.currency.description}}">{{item.currency.description}}</td>
                            <td title="{{item.createdAt}}">{{item.createdAt}}</td>
                            <td class="align-right">
                                <div title="İşlemler" class="btn-group btndropdown">
                                    <button data-toggle="dropdown" class="btn btn-default dropdown-toggle" type="button">
                                        <i class="ion-gear-b"></i>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li class="dropdown-item">
                                            <a *ngIf="user.tenantUsers.userRole.invoice=='a' || user.tenantUsers.userRole.invoice=='w'"
                                                (click)="showInvoice(ind)">Göster</a>
                                        </li>
                                        <li class="dropdown-item">
                                            <a *ngIf="user.tenantUsers.userRole.invoice=='a' || user.tenantUsers.userRole.invoice=='w'"
                                                (click)="showInvoiceHtml(ind)">Önizleme</a>
                                        </li>
                                        <li class="dropdown-item">
                                            <a *ngIf="user.tenantUsers.userRole.invoice=='a' || user.tenantUsers.userRole.invoice=='w'"
                                                (click)="downloadPdf(ind)">İndir</a>
                                        </li>
                                        <li class="dropdown-item">
                                            <a *ngIf="user.tenantUsers.userRole.invoice=='a' || user.tenantUsers.userRole.invoice=='w'"
                                                (click)="emailSelecteds(ind)">Mail Gönder</a>
                                        </li>
                                        <li class="dropdown-item">
                                            <a *ngIf="user.tenantUsers.userRole.invoice=='a' || user.tenantUsers.userRole.invoice=='w'"
                                                (click)="deleteSelecteds(ind)">İptal Et</a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                            <!-- <td>{{item.permissions}}</td> -->
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="9">

                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>

    <!-- ****** Efatura ******* -->
    <div class="row" *ngIf="isEfatura==='EFatura'">
        <div title="Fatura Arama" class="card data-table-container">
            <div class="row">

            </div>
            <div class="row">
                <div class="col-md-2">
                        <label class="label-control">Fatura Tipi</label>
                        <select class="form-control input-sm" [(ngModel)]="selectedProfile" (change)="getInbox()" name="invoiceScenarioSelect">
                            <option value="" selected>Hepsi</option>
                            <option *ngFor="let item of scenarios" [ngValue]="item">{{item.description}}</option>
                        </select>
                </div>
                <div class="col-md-1" title="Satır Sayısı">
                    <label class="label-control">SatırSayısı</label>
                    <input class="form-control input-sm" [(ngModel)]="limit" (keyup.enter)="getInbox()" type="number" min="0" max="200" step="20"
                    />
                </div>
                <div class="col-md-1" title="Sayfa">
                    <label class="label-control">Sayfa</label>
                    <input class="form-control input-sm" [(ngModel)]="offset" (keyup.enter)="getInbox()" type="number" min="0" step="20" />
                </div>
                <div class="col-md-2" title="İlk">
                    <label class="col-sm-12 label-control">İlk</label>

                    <my-date-picker name="mydate1" [options]="myDatePickerOptions" [selector]="dateSelector1" (click)="openCalendar1()" (dateChanged)="onDateChanged($event)"
                        [(ngModel)]="searchFirstDate" required></my-date-picker>
                </div>
                <div class="col-md-2" title="Son">
                    <label class="col-sm-12 label-control">Son</label>

                    <my-date-picker name="mydate2" [options]="myDatePickerOptions" [selector]="dateSelector2" (click)="openCalendar2()" (dateChanged)="onDateChanged($event)"
                        [(ngModel)]="searchLastDate" required></my-date-picker>
                </div>
                <div id="search-button" class="col-md-2" title="Ara" style="padding-top: 2%;">
                        <button class="btn btn-success" (click)="getInbox()">
                            <i class="fa fa-refresh"></i> Ara</button>
                    </div>

            </div>
            <div class="row">
                
                <div *ngIf="user.tenantUsers.userRole.invoice=='a' || user.tenantUsers.userRole.invoice=='w'" id="search-button" class="col-md-2 offset-md-10"
                    style="text-align:right;">
                    <div title="İşlemler" class="btn-group">
                        <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle" type="button">
                            <i class="ion-gear-b"></i>İşlemler</button>
                        <ul class="dropdown-menu">
                            <li class="dropdown-header">
                                <b>Seçili olanları</b>
                            </li>
                            <li class="dropdown-item"><a (click)="downloadGibPdf('liste')"><i class="ion-android-download"></i>İndir</a></li>
                            <li class="dropdown-item"><a (click)="downloadGibPdf('liste', 'pdf')"><i class="ion-android-download"></i>Pdf İndir</a></li>
                            <li class="dropdown-item"><a (click)="downloadGibPdf('liste', 'xml')"><i class="ion-android-download"></i>Xml İndir</a></li>
                            <li class="dropdown-item"><a (click)="downloadGibPdf('liste', 'xlsx')"><i class="ion-android-download"></i>Excel İndir</a></li>
                            <!-- <li class="dropdown-item"><a (click)="downloadPdf('liste')"><i class="ion-android-download"></i>İndir</a></li>
                                        <li class="dropdown-item"><a (click)="emailSelecteds('liste')"><i class="ion-paper-airplane"></i>Mail Gönder</a></li>
                                        <li class="dropdown-item"><a (click)="deleteSelecteds('liste')"><i class="ion-trash-a"></i>İptal Et</a></li> -->
                        </ul>
                    </div>

                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" title="Fatura Bilgileri">Fatura Bilgileri</div>

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th title="Seç" style="text-align:center;"><input type="checkbox" [checked]="isAllChecked(gibInbox)" (change)="selectAll(gibInbox)"/></th>
                            <th title="SeriNo">SeriNo</th>
                            <th title="Senaryo">Senaryo</th>
                            <th title="Ünvan">Ünvan</th>
                            <th title="Fatura Tutarı">Fatura Tutarı</th>
                            <th title="Para Birimi">Para Birimi</th>
                            <th title="Durum">Durum</th>
                            <th title="Okundu">Okundu</th>
                            <th title="Tarih">Tarih</th>
                            <th title="İşlemler" class="align-right">İşlemler</th>

                            <!-- <th>İzin Derecesi</th> -->
                        </tr>
                    </thead>
                    <tbody class="efatura">
                        <tr *ngFor="let item of gibInbox; let ind=index">
                            <td title="Seç">
                                <input class="form-control" type="checkbox" [(ngModel)]="gibInbox[ind].isChecked" />
                            </td>
                            <td title="{{item.invoiceId}}">{{item.invoiceId}}</td>
                            <td title="{{item.profile}}">{{item.profile}}</td>
                            <td title="{{item.senderPartyName}}" class="long-text">{{item.senderPartyName}}</td>
                            <td title="{{item.payableAmount}}">{{item.payableAmount}}</td>
                            <td title="{{item.currency}}" class="smalltd">{{item.currency}}</td>
                            <td title="{{item.statusDescription}}" class="long-text" *ngIf="!item.applicationResponse">{{item.statusDescription}}</td>
                            <td title="{{item.applicationResponse}}" class="long-text" *ngIf="item.applicationResponse">{{item.applicationResponse}}</td>
                            <td title="{{item.isReaded}}" [ngClass]="{'unreaded': !item.isReaded}" style="text-align:center;"> <input type="checkbox" [checked]="item.isReaded" (change)="changeGibInvoiceRead(ind)"> </td>
                            <td title="{{item.envelopeDate}}">{{item.envelopeDate}}</td>
                            <td class="align-right">
                                <div title="İşlemler" class="btn-group">
                                    <button data-toggle="dropdown" class="btn btn-default dropdown-toggle" type="button">
                                        <i class="ion-gear-b"></i>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li class="dropdown-item">
                                            <a *ngIf="user.tenantUsers.userRole.invoice=='a' || user.tenantUsers.userRole.invoice=='w'"
                                                (click)="showGibHtml(ind)">Göster</a>
                                        </li>
                                        <li class="dropdown-item">
                                            <a *ngIf="user.tenantUsers.userRole.invoice=='a' || user.tenantUsers.userRole.invoice=='w'"
                                                (click)="downloadGibPdf(ind, 'pdf')">Pdf İndir</a>
                                        </li>
                                        <li class="dropdown-item">
                                            <a *ngIf="user.tenantUsers.userRole.invoice=='a' || user.tenantUsers.userRole.invoice=='w'"
                                                (click)="downloadGibPdf(ind, 'xml')">Xml İndir</a>
                                        </li>
                                        <li class="dropdown-item">
                                            <a *ngIf="user.tenantUsers.userRole.invoice=='a' || user.tenantUsers.userRole.invoice=='w'"
                                                (click)="downloadGibPdf(ind, 'xlsx')">Excel İndir</a>
                                        </li>
                                        <li class="dropdown-item">
                                            <a *ngIf="(user.tenantUsers.userRole.invoice=='a' || user.tenantUsers.userRole.invoice=='w') && gibInbox[ind].profile ==='TICARIFATURA' && !item.applicationResponse"
                                                (click)="sendResponseGib('KABUL', ind)">Kabul</a>
                                        </li>
                                        <li class="dropdown-item">
                                            <a *ngIf="(user.tenantUsers.userRole.invoice=='a' || user.tenantUsers.userRole.invoice=='w') && gibInbox[ind].profile ==='TICARIFATURA' && !item.applicationResponse"
                                                (click)="sendResponseGib('RED', ind)">Red</a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                            <!-- <td>{{item.permissions}}</td> -->
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="11">

                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- <div class="e2e-trusted-url" [innerHTML]="invoiceHtml">
      </div> -->