<div class="modal-content">
  <div class="modal-header">
    <h4 *ngIf="id" class="modal-title">Organizasyon Güncelleme</h4>
    <h4 *ngIf="!id" class="modal-title">Organizasyon Ekleme</h4>
    <button class="close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #f="ngForm">
      <div class="row cards">
        <div title="Logo Yükle" class="card logocard">
          <div class="col-12 col-md-2">
            <input type="file" (change)="fileChange($event, true)" placeholder="Logo Yükle" accept=".png,.jpg,.jpeg">
          </div>
          <div class="col-12 col-md-2">
            <img *ngIf="tenant.logo" [src]="'data:image/png;base64,' + tenant.logo"/>
            <img *ngIf="!tenant.logo" src="/assets/img/organizasyon_logo.png"/>
          </div>
        </div>
        <div title="İmza Yükle" class="card signcard">
          <div class="col-12 col-md-2">
            <input type="file" (change)="fileChange($event, false)" placeholder="İmza Yükle" accept=".png,.jpg,.jpeg">
          </div>
          <div class="col-12 col-md-2">
            <img *ngIf="tenant.signature" [src]="'data:image/png;base64,' + tenant.signature"/>
            <img *ngIf="!tenant.signature" src="/assets/img/organizasyon_imza.png"/>
          </div>
        </div>
      </div>
      <div *ngIf="user.tenantUsers.userRole.isSuperAdmin && id" class="row">
        <div class="col-6 col-md-4">Üst Organizasyon</div>
        <div class="col-12 col-md-8">
          <select class="form-control input-sm" [(ngModel)]="tenant.owner" name="tenantOwner">
            <option *ngFor="let item of tenants" [ngValue]="item.id">{{item.name}}</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-6 col-md-4">TCKN/VKN</div>
        <div class="col-12 col-md-8" [ngClass]="{'has-error': (!tcVkn.valid && tcVkn.touched), 'has-success': (tcVkn.valid && tcVkn.touched)}">
          <input class="form-control" type="text" placeholder="TCKN/VKN" [(ngModel)]="tenant.tenantInfo.tc" minlength="10" maxlength="11" name="tcVkn" (input)="checkGibUser()" #tcVkn="ngModel" required/>
        </div>
      </div>
      <div class="row">
        <div class="col-6 col-md-4">OrganizasyonAdı</div>
        <div class="col-12 col-md-8" [ngClass]="{'has-error': (!tenantName.valid && tenantName.touched), 'has-success': (tenantName.valid && tenantName.touched)}">
          <input class="form-control" type="text" placeholder="Organizasyon Adı" [(ngModel)]="tenant.name" name="tenantName" #tenantName="ngModel" required/>
        </div>
      </div>
      <div class="row">
        <div class="col-6 col-md-4">Açıklaması</div>
        <div class="col-12 col-md-8">
          <input class="form-control" type="text" placeholder="Açıklama" [(ngModel)]="tenant.description" name="tenantDescription"/>
        </div>
      </div>
      <div class="row">
        <div class="col-6 col-md-4">Organizasyon Çeşidi</div>
        <div *ngIf="!isOwnTenant" class="col-12 col-md-8" [ngClass]="{'has-error': (!tenantType.valid && tenantType.touched), 'has-success': (tenantType.valid && tenantType.touched)}">
          <select class="form-control input-sm" [(ngModel)]="tenant.tenantType" name="tenantType" #tenantType="ngModel" required>
            <option value="RESELLER">BAYİ</option>
            <option value="CUSTOMER">MÜŞTERİ</option>
          </select>
        </div>
        <div *ngIf="isOwnTenant" class="col-12 col-md-8">
          <p *ngIf="tenant.tenantType === 'RESELLER'">BAYİ</p>
          <p *ngIf="tenant.tenantType === 'CUSTOMER'">MÜŞTERİ</p>
          <p *ngIf="tenant.tenantType === 'SUPERADMIN'">YÖNETİCİ</p>
        </div>
      </div>
      <div *ngIf="!isOwnTenant" class="row">
        <div class="col-6 col-md-4">Durumu</div>
        <div class="col-12 col-md-8" [ngClass]="{'has-error': (!tenantStatus.valid && tenantStatus.touched), 'has-success': (tenantStatus.valid && tenantStatus.touched)}">
          <select class="form-control input-sm" [(ngModel)]="tenant.status" name="tenantStatus" #tenantStatus="ngModel" required>
            <option value="ENABLED">AKTİF</option>
            <option value="DISABLED">PASİF</option>
          </select>
        </div>
      </div>
      <div class="row" *ngIf="id">
        <div class="col-6 col-md-4">Kullanım Süresi(Gün)</div>
        <div class="col-12 col-md-4">
         <b>  Kalan Gün Sayısı: {{tenant.expireCount}}</b>
        </div>
        <div class="col-12 col-md-1">Gün Ekle:</div>
        <div class="col-12 col-md-3 day">
          <input class="form-control" type="number" placeholder="Kullanım Süresi (Gün)" [(ngModel)]="expireCount" name="credits2" #credits2="ngModel"/>
        </div>
      </div>
      <div class="row" *ngIf="!id">
        <div class="col-6 col-md-4">Kullanım Süresi (Gün)</div>
        <div class="col-12 col-md-8">
          <input class="form-control" type="number" placeholder="Kullanım Süresi (Gün)" [(ngModel)]="tenant.expireCount" name="credits" #credits="ngModel"/>
        </div>
      </div>
      <div class="row" >
        <div class="col-6 col-md-4">Organizasyon Yönetici Email</div>
        <div class="col-12 col-md-8" *ngIf="!id" [ngClass]="{'has-error': (!tenantEmail.valid && tenantEmail.touched), 'has-success': (tenantEmail.valid && tenantEmail.touched)}">
          <input class="form-control" type="text" placeholder="Yönetici Email" [(ngModel)]="tenant.email" name="tenantEmail" #tenantEmail="ngModel" email required/>
          
        </div>
        <div class="col-12 col-md-8" *ngIf="id">
          <p>{{tenant.email}}</p>
        </div>
      </div>


      <!-- Customer Start  -->

    <div class="modal-body">
      
      <div class="row" *ngIf="tenant.tenantInfo.tc">
        <div class="col-6 col-md-4" *ngIf="tenant.tenantInfo.tc.length==11">Adı</div>
        <div class="col-12 col-md-8" *ngIf="tenant.tenantInfo.tc.length==11" [ngClass]="{'has-error': (!customername.valid && customername.touched), 'has-success': (customername.valid && customername.touched)}">
          <input class="form-control" type="text" placeholder="Müşteri Adı" [(ngModel)]="tenant.tenantInfo.name" minlength="2" name="customername" #customername="ngModel" required/>
        </div>
      </div>
      <div class="row" *ngIf="tenant.tenantInfo.tc">
        <div class="col-6 col-md-4" *ngIf="tenant.tenantInfo.tc.length==11">Soyadı</div>
        <div class="col-12 col-md-8" *ngIf="tenant.tenantInfo.tc.length==11" [ngClass]="{'has-error': (!surname.valid && surname.touched), 'has-success': (surname.valid && surname.touched)}">
          <input class="form-control" type="text" placeholder="Müşteri Soyadı" [(ngModel)]="tenant.tenantInfo.surname" minlength="2" name="surname" #surname="ngModel" required/>
        </div>
      </div>
      <div class="row" *ngIf="tenant.tenantInfo.tc">
        <div class="col-6 col-md-4" *ngIf="tenant.tenantInfo.tc.length==10">Ünvanı</div>
        <div class="col-12 col-md-8" *ngIf="tenant.tenantInfo.tc.length==10" [ngClass]="{'has-error': (!appellation.valid && appellation.touched), 'has-success': (appellation.valid && appellation.touched)}">
          <input class="form-control" type="text" placeholder="Ünvan" [(ngModel)]="tenant.tenantInfo.appellation" name="appellation" #appellation="ngModel" required/>
        </div>
      </div>
      <div class="row" *ngIf="tenant.tenantInfo.tc">
        <div class="col-6 col-md-4" *ngIf="tenant.tenantInfo.tc.length==10">Tam Ünvanı</div>
        <div class="col-12 col-md-8" *ngIf="tenant.tenantInfo.tc.length==10" [ngClass]="{'has-error': (!fullAppellation.valid && fullAppellation.touched), 'has-success': (fullAppellation.valid && fullAppellation.touched)}">
          <input class="form-control" type="text" placeholder="Tam Ünvan" [(ngModel)]="tenant.tenantInfo.fullAppellation" name="fullAppellation" #fullAppellation="ngModel" [disabled]="gibUsersPk.length>0" required/>
        </div>
      </div>
      <div class="row">
        <div class="col-6 col-md-4">T. Sicil No</div>
        <div class="col-12 col-md-8">
          <input class="form-control" type="number" placeholder="Ticari Sicil No" [(ngModel)]="tenant.tenantInfo.tradeRegisterNumber" name="tradeRegisterNumber"/>
        </div>
      </div>
      <div class="row">
        <div class="col-6 col-md-4">Mersis No</div>
        <div class="col-12 col-md-8">
          <input class="form-control" type="number" placeholder="Mersis No" [(ngModel)]="tenant.tenantInfo.mersisNumber" name="mersisNumber"/>
        </div>
      </div>
      <div *ngIf="!isOwnTenant" class="row">
        <div class="col-6 col-md-4">İndirim</div>
        <div class="col-12 col-md-8">
          <input class="form-control" type="number" placeholder="İndirim" [(ngModel)]="tenant.tenantInfo.basicDiscount" name="basicDiscount"/>
        </div>
      </div>
      <div *ngIf="!isOwnTenant" class="row">
        <div class="col-6 col-md-4">Kredi Limiti</div>
        <div class="col-12 col-md-8">
          <input class="form-control" type="number" placeholder="Kredi Limiti" [(ngModel)]="tenant.tenantInfo.creditLimit" name="creditLimit"/>
        </div>
      </div>
      <div class="row">
        <div class="col-6 col-md-4">Vergi Dairesi</div>
        <div class="col-12 col-md-8" [ngClass]="{'has-error': (!taxAdministration.valid && taxAdministration.touched), 'has-success': (taxAdministration.valid && taxAdministration.touched)}">
          <input class="form-control" type="text" placeholder="Vergi Dairesi" [(ngModel)]="tenant.tenantInfo.taxAdministration" name="taxAdministration" #taxAdministration="ngModel"/>
        </div>
      </div>
      <div class="row">
        <div class="col-6 col-md-4">Cari Çeşidi</div>
        <div class="col-12 col-md-8">
          <select class="form-control input-sm" [(ngModel)]="tenant.tenantInfo.customerType.id" name="customerType">
            <option *ngFor="let item of customerTypes" [ngValue]="item.id">{{item.name}}</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-6 col-md-4">Adres Etiketi</div>
        <div class="col-12 col-md-8">
          <input class="form-control" type="text" placeholder="Adres Etiketi" [(ngModel)]="tenantAddress.addressName" name="addressName"/>
        </div>
      </div>
      <div class="row">
        <div class="col-6 col-md-4">İl</div>
        <div class="col-12 col-md-8">
          <select class="form-control input-sm" [(ngModel)]="tenantAddress.city.id" (change)="getDistricts()" name="city" #cityy="ngModel">
              <option value="0" selected disabled>İl Seçiniz</option>
            <option *ngFor="let item of cities" [ngValue]="item.id">{{item.name}}</option>
          </select>
        </div>
      </div>
      <div class="row" *ngIf="districts">
        <div class="col-6 col-md-4">İlçe</div>
        <div class="col-12 col-md-8">
          <select class="form-control input-sm" [(ngModel)]="tenantAddress.district.id" (change)="getNeighborhoods()" name="district" #districtt="ngModel">
            <option value="0" selected disabled>İlçe Seçiniz</option>
            <option *ngFor="let itemx of districts" [ngValue]="itemx.id">{{itemx.name}}</option>
          </select>
        </div>
      </div>
      <div class="row" *ngIf="neighborhoods">
        <div class="col-6 col-md-4">Mahalle</div>
        <div class="col-12 col-md-8">
          <select class="form-control input-sm" [(ngModel)]="tenantAddress.neighborhood" (change)="neighborhoodSelected()" [compareWith]="customCompare" name="neighborhood" #neighborhoodd="ngModel">
            <option [ngValue]="tempNeighborhood" selected disabled>Mahalle Seçiniz</option>
            <option *ngFor="let itemz of neighborhoods" [ngValue]="itemz">{{itemz.postCode}}: {{itemz.name}}</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-6 col-md-4">Tam Adres</div>
        <div class="col-12 col-md-8">
          <input class="form-control" type="text" placeholder="Tam Adres (Cad. - Sokak, Apt.No/D.No vb.)" [(ngModel)]="tenantAddress.fullAddress" minlength="4" name="fullAddress" #fullAddress="ngModel"/>
        </div>
      </div>
      <div class="row">
        <div class="col-6 col-md-4">Telefon Numarası</div>
        <div class="col-12 col-md-8">
          <input class="form-control" type="text" placeholder="Telefon No (Örn. : 53xxxxxxxx - Max. 10 karakter)" [(ngModel)]="tenantAddress.phoneNumber" name="phoneNumber" maxlength="10"/>
        </div>
      </div>
      <div class="row">
        <div class="col-6 col-md-4">Email</div>
        <div class="col-12 col-md-8">
          <input class="form-control" type="text" placeholder="Email" [(ngModel)]="tenantAddress.email" name="email"/>
        </div>
      </div>
      <div class="row">
        <div class="col-6 col-md-4">Fax</div>
        <div class="col-12 col-md-8">
          <input class="form-control" type="text" placeholder="Fax No (Örn. : 53xxxxxxxx - Max. 10 karakter)" [(ngModel)]="tenantAddress.fax" name="fax" maxlength="10"/>
        </div>
      </div>
      <div class="row">
        <div class="col-6 col-md-4">Fatura Alt Notu</div>
        <div class="col-12 col-md-8">
          <textarea class="form-control" type="text" placeholder="Fatura alt notu" [(ngModel)]="tenant.invoiceNote" name="note"></textarea> 
        </div>
      </div>

      <!-- Customer End -->
    <div class="row errors">
      <div class="col-12 col-md-8">
        <p class="errorText" *ngIf="(!tenantName.valid && tenantName.touched)">**Organizasyon adı girmelisiniz</p>
        <p class="errorText" *ngIf="(!tcVkn.valid && tcVkn.touched)">**TC/VKN girmelisiniz</p>
        <p class="errorText" *ngIf="(!f.valid && tcVkn.touched)">**Organizasyon Maili, İsim/Ünvan bölümlerini eksiksiz doldurunuz.</p>
      </div>
    </div>

      <div class="modal-footer">
        <button *ngIf="!id" class="btn btn-primary confirm-btn" (click)="addTenant()" [disabled]="!f.valid">Kaydet</button>
        <button *ngIf="id" class="btn btn-success confirm-btn" (click)="updateTenant()" [disabled]="!f.valid">Güncelle</button>
      </div>
      </div>
    </form>
  </div>
</div>
