<div class="modal-content">
  <div class="modal-header">
    <h4 *ngIf="id !== 'AdminToUser'" class="modal-title">Kontör İsteği</h4>
    <h4 *ngIf="id === 'AdminToUser'" class="modal-title">Kontör Gönder</h4>
    <button class="close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #f="ngForm">
      <div *ngIf="id === 'AdminToUser'" class="row">
        <div class="col-6 col-md-4">TCKN/VKN</div>
        <div class="col-12 col-md-8" [ngClass]="{'has-error': (!tckn.valid && tckn.touched), 'has-success': (tckn.valid && tckn.touched)}">
          <input class="form-control" type="text" placeholder="TCKN/VKN" [(ngModel)]="vkn" 
             minlength="2" name="tckn" #tckn="ngModel" required/>
        </div>
      </div>
      <div class="row">
        <div class="col-6 col-md-4">Kontör Miktarı</div>
        <div class="col-12 col-md-8" [ngClass]="{'has-error': (!amountx.valid && amountx.touched), 'has-success': (amountx.valid && amountx.touched)}">
          <input class="form-control" type="text" placeholder="Kontör Miktarı" [(ngModel)]="amount" 
             minlength="2" name="amountx" #amountx="ngModel" required/>
        </div>
      </div>
      <div *ngIf="id !== 'AdminToUser'" class="row">
        <div class="col-6 col-md-4">Açıklama</div>
        <div class="col-12 col-md-8" [ngClass]="{'has-error': (!descriptionx.valid && descriptionx.touched), 'has-success': (descriptionx.valid && descriptionx.touched)}">
          <input class="form-control" type="text" placeholder="Açıklama" [(ngModel)]="description" 
               minlength="2" name="descriptionx" #descriptionx="ngModel"/>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary confirm-btn" (click)="send()" [disabled]="!f.valid">Gönder</button>
      </div>

      <div class="row errors">
        <div class="col-12 col-md-8">
          <p class="errorText" *ngIf="(!amountx.valid && amountx.touched)">**Kontör Miktarı girmelisiniz</p>
        </div>
    </div>

    </form>
  </div>
</div>
