<div class="widgets">
    <div class="row">
        <div title="Organizasyon Arama" class="card data-table-container">
            <div class="row">
                
            </div>
            <div class="row">
                
                <div class="col-md-2" title="Organizasyon Adı">
                    <label class="label-control">OrganizasyonAdı</label>
                    <input class="form-control input-sm" [(ngModel)]="searchTenant" (keyup.enter)="search()" type="text" placeholder="Organizasyon Adı/İsim"/>
                </div>
                <div class="col-md-1" title="Satır Sayısı">
                    <label class="label-control">SatırSayısı</label>
                    <input class="form-control input-sm" [(ngModel)]="limit" (keyup.enter)="search()" type="number" min="0" max="200" step="20" />
                </div>
                <div class="col-md-1" title="Sayfa">
                    <label class="label-control">Sayfa</label>
                    <input class="form-control input-sm" [(ngModel)]="offset" (keyup.enter)="search()" type="number" min="0"  step="1" />
                </div>
                <div class="col-md-2" title="Ölçütler">
                    <label class="col-sm-12 label-control">Ölçütler</label>
                    <select class="form-control input-sm" (change)="search()" [(ngModel)]="orderSelect">
                        <option ngValue="id">ID</option>
                        <option ngValue="name">Organizasyon Adı</option>
                        <option ngValue="created_at">Üyelik Tarihi</option>
                        <option ngValue="status">Email</option>
                    </select>
                </div>
                <div class="col-md-1" title="Sıralama">
                  <label class="col-sm-12 label-control">Sıralama</label>
                   <select class="form-control input-sm" (change)="search()" [(ngModel)]="orderBy">
                       <option ngValue="asc">Artan</option>
                        <option ngValue="desc">Azalan</option>
                   </select>
                </div>
                <div class="col-md-2" title="İlk Tarih">
                  <label class="col-sm-12 label-control">İlk</label>
                  <my-date-picker name="mydate1" [options]="myDatePickerOptions" [selector]="dateSelector1" (click)="openCalendar1()" (dateChanged)="onDateChanged($event)"
                    [(ngModel)]="searchFirstDate" required></my-date-picker>
                </div>
                <div class="col-md-2" title="Son Tarih">
                  <label class="col-sm-12 label-control">Son</label>
                  <my-date-picker name="mydate2" [options]="myDatePickerOptions" [selector]="dateSelector2" (click)="openCalendar2()" (dateChanged)="onDateChanged($event)"
                    [(ngModel)]="searchLastDate" required></my-date-picker>
                </div>
                
            </div>
            <div class="row" title="Ara">
                <div id="search-button" class="col-sm-4">
                        <button class="btn btn-success" (click)="search()"><i class="fa fa-refresh"></i> Ara</button>
                </div>
                <div *ngIf="user.tenantUsers.userRole.tenant=='a' || user.tenantUsers.userRole.tenant=='w'" title="Yeni Organizasyon" id="search-button" class="col-md-4 offset-md-4" style="text-align:right;">
                        <button class="btn btn-info" (click)="addTenant()">Yeni Organizasyon</button>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" title="Organizasyon Bilgileri">Organizasyon Bilgileri</div>

                <table class="table table-striped" >
                    <thead>
                        <tr>
                            <th title="Organizasyon Adı">Organizasyon Adı</th>
                            <th title="Açıklama">Açıklaması</th>
                            <th title="Organizasyon Çeşidi">Org. Çeşidi</th>
                            <th title="Gün">Gün</th>
                            <th title="Üst Organizasyon">Üst Organizasyon</th>
                            <th title="" class="align-right"></th>

                            <!-- <th>İzin Derecesi</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of tenants; let ind=index">
                            <td class="long-text" title="{{item.name}}">{{item.name}}</td>
                            <td class="long-text" title="{{item.description}}">{{item.description}}</td>
                            <td *ngIf="item.tenantType==='RESELLER'" title="BAYİ">BAYİ</td>
                            <td *ngIf="item.tenantType==='CUSTOMER'" title="MÜŞTERİ">MÜŞTERİ</td>
                            <td *ngIf="item.tenantType==='SUPERADMIN'" title="YÖNETİCİ">YÖNETİCİ</td>
                            <td title="{{item.expireCount}}">{{item.expireCount}}</td>
                            <td title="{{item.ownerTenant.name}}">{{item.ownerTenant.name}}</td>
                            <td title="" class="align-right">
                                <button title="Aktif/Pasif" *ngIf="user.tenantUsers.userRole.tenant=='a' || user.tenantUsers.userRole.tenant=='w'" (click)="changeTenantStatus(ind)" [ngClass]="item.status === 'ENABLED' ? 'btn btn-success' : 'btn btn-danger'">
                                    <i [ngClass]="item.status === 'ENABLED' ? 'ion-checkmark-round' : 'ion-close-round'"></i></button>
                                <button title="Düzenle" *ngIf="user.tenantUsers.userRole.tenant=='a' || user.tenantUsers.userRole.tenant=='w'" (click)="updateTenant(ind)" class="btn btn-primary"><i class="ion-edit"></i></button>
                            </td>
                            <!-- <td>{{item.permissions}}</td> -->
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="9">
                                
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>